.BookCards {
    display: grid;
    grid-template-columns: 16.2% 16.2% 16.2% 16.2% 16.2% 16.2% ;
    background-color: #ddd2d2;
    padding: 10px;
    margin: 4em;
    justify-content: center;
}

.CardsThemselves {
    width: calc(width);
    border: 3px solid rgb(54, 54, 54);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #ffffff1d;
    transition: ease-out 0.5s;
    padding: auto;
    font-size: 1em;
    height: 380px;
    overflow:hidden ;
    justify-content: center;
    margin-bottom: 100px;
    margin: 10px;
    background-color: hsl(0, 0%, 100%);
    outline: none; 
}

.CardsThemselves:hover{
    height: 390px;
    cursor: pointer;
}

.CardPhoto {
    display: grid;
    width: 200px;
    justify-items: center;
    align-items: center;
    height: 300px;
    border-bottom: 4px solid black;
}

