.pageFooter {
    background-color: hsla(0, 0%, 15%, 0.877);
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 3rem;
    color: white;
}
