.App {
    min-height: 200vh;
    display: flex; /* these two line that follow each are the main feature that keep the footer streched to the bottom */
    flex-direction: column;
    position: relative;
    overflow-x: clip;
}